<head>
<style>
.login_header h4 {
    color: maroon;
    font-family: Verdana, sans-serif;
}
</style>
</head>
<body>
<div class="login_header"><h4>Please log in to continue.</h4></div>
</body>