<head>
</head>
<body>

<form method=POST action="/users">
<p>
<strong>Name:</strong> <input type="text" id="name" name="name">
<strong>Username:</strong> <input type="text" id="username" name="username">
<strong>Password:</strong> <input type="password" id="password" name="password">
</p>
<input type="submit" name="submit" id="submit" value="Create Account">
</form>

</body>