<head>
<style>
a {
    text-decoration:none;
    font-family: Verdana, sans-serif;
}
</style>
</head>
<body>
<h1><%= @user.name %>'s page</h1>
<p>You can get fancy about this later, right now this is a landing page for each user. Calm down.</p>
<br>
<a href="/logout">Log Out</a>
</body>