<head>
<style>
body {
    background-color: #E1E1E1;
}

p {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    background-color: #6e1418;
    width: 80%;
    color: #E1E1E1;
    font-family: TimesNewRoman, serif;
    padding: 8px;
}

h2 {
    font-family: TimesNewRoman, serif;
    color: #6e1418 ;
}

h4 { 
    font-family: TimesNewRoman, serif;
color: #6e1418 ;
}

.sidebar {
    margin: 0px 10px 0px 10px;
    float: left;
    width: 25%;
}

.main {
    margin: 0px 10px 0px 10px;
    width: 50%;
    float: left;
}

.fake-link {
    color: blue;
}
.error {
    color: red;
    font-weight: bold;
}
</style>
</head>

<body>
<h1><%= @user.name %>'s page</h1>

<div class="sidebar">
<p><a href="/logout">Log Out</a></p>
<p><a href="/users/<%= @user.id %>">View Profile</a></p>
<p class="fake-link">Edit Profile</p>
<p class="fake-link">What Is A Trope?</p>
<p class="fake-link">TVTropes</p>
</div>

<div class="main">
<h2>Create Yet Another Novel</h2>
<h4>(You have too many novels, put some back.)</h4>

<% if flash.has?(:input_error) %>
  <h2 class="error"><%= flash[:input_error] %></h2>
  <br>
<% end %>

<form method=POST action="/novels">
<p><strong>Title:</strong> <input type="text" name="novel[title]" id="novel_title"></p>

<p><strong>Genre:</strong> <input type="text" name="novel[genre]" id="novel_genre"></p>
<p><strong>Word Count:</strong> <input type="text" name="novel[word_count]" id="novel_word_count"></p>

<p><strong>Synopsis:</strong><br> <textarea type="text" name="novel[synopsis]" id="novel_synopsis" rows=25 cols=75>Write your synopsis here. (max: 10,000 characters)</textarea></p>
<button type="submit">Create Yet Another Novel</button>
</form>

</div>
</body>